body {
  font-family: var(--font-body);
  font-size: var(--text-preset-2);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-blue-700);
  color: var(--color-blue-800);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  padding-bottom: 2.75rem;
}

.card-image img {
  width: 100%;
  display: block; /* remove espaçamentos invisíveis abaixo da imagem */
}

.card-info {
  padding-inline: var(--spacing-300);
}

.card-info h1 {
  font-size: var(--text-preset-1-mobile);
  line-height: 1;
  margin-bottom: var(--spacing-300);
}

.card-info p {
  line-height: 1.5;
  margin-bottom: var(--spacing-300);
}

.card-info ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  list-style: none;
  margin-bottom: var(--spacing-500);
}

.card-info li {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-200);
  line-height: 1.5;
}

.card-info li::before {
  content: "";
  flex-shrink: 0; /* garante que o ícone não amasse se o texto for longo */
  min-width: 1.3125rem;
  min-height: 1.3125rem;
  background: url("/assets/images/icon-success.svg") no-repeat center / contain;
}

#card-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

/* RESPONSIVIDADE (TABLET) */
@media (min-width: 768px) {
  .card {
    max-width: 608px;
    border-radius: 2.25rem;
    padding: var(--spacing-500);
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
  }

  .card-info {
    padding-inline: 0;
  }

  .card-info h1 {
    font-size: var(--text-preset-1);
  }

  .card-info ul {
    margin-bottom: var(--spacing-300);
  }

  #card-form {
    gap: var(--spacing-200);
  }
}

/* RESPONSIVIDADE (DESKTOP) */
@media (min-width: 1200px) {
  .card {
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--spacing-800);
    max-width: 904px;
    min-height: 641px;
    padding: var(--spacing-400);
  }

  .card-image {
    min-width: 400px;
    height: 100%;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .card-info h1,
  .card-info p,
  .card-info ul {
    margin-bottom: var(--spacing-400);
  }

  #card-form {
    gap: var(--spacing-300);
  }
}
