.input-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.label-error {
  font-size: var(--text-preset-3);
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

.label-error span {
  color: var(--color-red);
}

.input-group input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
  background: transparent;
  border: 1px solid var(--color-grey);
  border-radius: 0.5rem;
  outline: none;
  padding: var(--spacing-200) var(--spacing-300);
}

.input-group input::placeholder {
  color: var(--color-grey);
}

.input-group input:focus {
  border: 1px solid var(--color-blue-800);
}

.input-group input.error {
  background-color: #ffe7e6;
  color: var(--color-red);
  border: 1px solid var(--color-red);
}
